<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cjproductions">
    <!-- Permisos de la aplicacion -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CJProductions">
        <activity android:name=".atencionCliente.activities.ChatActivity"/>
        <activity android:name=".atencionCliente.admin.MenuPrincipalAdmin" />
        <activity android:name=".login.RestablecerPassword" />
        <activity android:name=".perfilUsuarios.EditarUsuarios" />
        <activity android:name=".perfilUsuarios.PerfilUsuarios" />
        <activity android:name=".login.Registrarse" />
        <activity android:name=".login.InicioSesion" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>